body {
  padding: 30px;
  background: #f0f2f5;
  font-family: sans-serif;
}
.returnIcon{
  text-decoration: none;
  color: blue;
  margin-bottom: 3px;
}
.Breakdown-text{
  font-size: 30px;
  color: blue;
  text-align: center;
}
.calculator-flow{
  color: blue;
  margin-top: 20px;
}

.result-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  max-width: 1000px;
  margin: auto;
}

.mb-2 {
  color: blue;
  font-size: 30px;
}

.description-text {
  color: blue;
  font-size: 16px;
  margin-top: 5px;
}
p{
  color: blue;
}

/* SUMMARY BOXES */
.summary-box {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 15px;
  background: white;
}
.Income-text{
  color: blue;
  text-align: center;
}
.Deductions-text{
  color: blue;
  text-align: center;
}

.summary-box p {
  margin-bottom: 5px;
  font-size: 16px;
  color: blue;
}
.btn{
  background-color: blue;
  margin-bottom: 30px;
  color: white;
}

.summary-box strong {
  font-size: 18px;
  color: blue; /* numbers remain blue */
}

/* CHART BOX */
.chart-box {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.chart-box canvas {
  max-width: 100%;
  height: 260px !important;
}
#flowTaxOwed,
#flowTaxableIncome,
#flowGrossIncome{
  color: blue;
}


/* Responsive */
@media (max-width: 768px) {
  .summary-box p {
    font-size: 14px;
  }
  .summary-box strong {
    font-size: 16px;
  }
  .chart-box canvas {
    height: 220px !important;
  }
  .description-text{
    font-size: 12px;
  }
.Breakdown-text{
  font-size: 25px;
}
}
