body {
    background-color: white;
    font-family: sans-serif;
    
}

/* Hero Section */
.hero-card {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
}

/* Headings */
h1 {
    text-align: center;
    font-size: 40px;
    color: blue;
    font-family: sans-serif;
}

p {
    color: blue;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}

/* Buttons */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.btn-main {
    background-color: blue;
    color: white;
    padding: 10px 150px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    
}

.btn-main:hover {
    background-color: blue;
    color: white;
    
}

.btn-outline-primary {
    padding: 10px 140px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    color: blue;

}
.fa-lock{
    background-color: rgb(230, 227, 240);
    padding: 10px;
    border-radius: 30px;
}


/* Info Cards */
.info-section {
    margin-top: 40px;
}

.textContainer1,
.textContainer2 {
    padding: 20px 40px;
    background-color: white;
    border-radius: 12px;
    outline-color: blue;
    outline-width: 20px;
    outline: 1px solid blue;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex-direction: column;
    align-items: center;

    
}
/* background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    outline-color: blue;
    outline-width: 20px;
    flex-direction: column;
    align-items: center;
    outline: 1px solid blue; */

.text1,
.text11 {
    color: blue;
    font-size: 18px;
   font-family: sans-serif;
   text-align: center;
}
.text2,
.text22 {
    color: blue;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    
    
}
.text3{
    color: blue;
    font-family: sans-serif;
    font-size: 25px;
}


/* Calculate Section */
.Calculate-container {
    /* background-color: rgb(159, 216, 255); */
   background-color: #EAF2FF;
    border-radius: 20px;
    padding: 40px;
    margin-top: 40px;
     border-radius: 12px;
    outline-color: blue;
    outline-width: 20px;
    outline: 1px solid blue;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex-direction: column;
    align-items: center;
    
}
.icon-wrap1 {
  width: 30px;
  height: 30px;
  background-color: #EAF2FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 14px;
}

.icon-wrap1 i {
  font-size: 18px;
  color: blue;
  line-height: 1;
}

.icon-wrap {
  width: 30px;
  height: 30px;
  background-color: #dffcea;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 14px;
}

.icon-wrap i {
  font-size: 20px;
  color: #22C55E;
}


.btn-calculate {
    background-color: blue;
    color: white;
    padding: 12px 30px;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
}
.disclaimer {
  font-size: 14px;
  color: blue; 
  text-align: left;
  margin: 40px 20px;
  line-height: 1.6;
}


/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 11px;
    }
    .text2{
        font-size: 7px;
        text-align: center;
    }
    .text22{
        font-size: 7px;
    }
    .btn-container {
        flex-direction: column;
        align-items: center;
    }
    .textContainer1{
        padding: 15px 150px;
        flex-direction: column;
        align-items: center;
    }
    .textContainer2{
        padding: 15px 150px;
    }
    .text1{
        font-size: 14px;
    }
    .text11{
        font-size: 14px;
    }
    .text3{
        font-size: 20px;
    }
}
